header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid#CCCCCC;
}
header a{
    background-image: url("../images/logo(1).png");
    display: block;
    width: 142px;
    height: 60px;
    background-repeat: no-repeat;

}    
